<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <style>
        .transparent {
            opacity: 0.2;
            pointer-events: none;
        }
    </style>
    <script>
        function togglePasswordFields() {
            var token = document.getElementById('token').value;
            var passwordField = document.getElementById('password');
            var confirmPasswordField = document.getElementById('confirmPassword');
            var confirmPasswordLabel = document.getElementById('confirmPasswordLabel');
            var passwordLabel = document.getElementById('passwordLabel');
            var submitButton = document.querySelector('button[type="submit"]');

            if (token) {
                passwordField.classList.remove('transparent');
                confirmPasswordField.classList.remove('transparent');
                passwordLabel.classList.remove('transparent');
                confirmPasswordLabel.classList.remove('transparent');
                submitButton.disabled = false;
            } else {
                passwordField.classList.add('transparent');
                confirmPasswordField.classList.add('transparent');
                passwordLabel.classList.add('transparent');
                confirmPasswordLabel.classList.add('transparent');
                submitButton.disabled = true;
            }
        }
    </script>
</head>
<body>
<h1>Reset Password</h1>
<form th:action="@{/passwordRecovery}" method="post">
    <label for="token">Enter token:</label>
    <input type="text" id="token" name="token" required oninput="togglePasswordFields()" />
    <br/>
    <label id="passwordLabel" for="password" class="transparent">New Password:</label>
    <input type="password" id="password" name="password" class="transparent" required oninput="togglePasswordFields()" />
    <br/>
    <label id="confirmPasswordLabel" for="confirmPassword" class="transparent">Confirm New Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" class="transparent" required />
    <br/>
    <button type="submit" disabled>Reset Password</button>
</form>

<div th:if="${error}" style="color: red;">
    <p th:text="${error}"></p>
</div>

</body>
</html>
